@import 'variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--text-main);
}

main {
  padding: 1rem;
}

a {
  text-decoration: none;
}

button {
  font-size: 1rem;
  background: none;
  border: none;
}

.primary,
.secondary {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  border-radius: 7px;
  transition: all 200ms ease-in-out;
  border: 3px solid var(--accent-main);
}

.primary {
  background-color: var(--accent-main);
  color: var(--background-main);

  &:hover {
    background: none;
    color: var(--accent-main);
  }
}

.secondary {
  color: var(--accent-main);

  &:hover {
    background-color: var(--accent-main);
    color: var(--background-main);
  }
}
