@import 'variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--text-main);
}

html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: var(--background-main);
}

main {
  padding: 1rem;
  min-height: 100%;
  flex-grow: 1;
  width: 100%;
  max-width: 1000px;
  align-self: center;
}

h4 {
  font-size: 1.125rem;
  color: var(--text-secondary);
  margin-bottom: 0.25rem;
}

a {
  text-decoration: none;
}

button {
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.primary,
.secondary {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  border-radius: 7px;
  transition: all 200ms ease-in-out;
  border: 3px solid var(--accent-main);
}

.primary {
  background-color: var(--accent-main);
  color: var(--background-main);

  &:hover {
    background-color: var(--accent-secondary);
    border-color: var(--accent-secondary);
  }
}

.secondary {
  color: var(--accent-main);

  &:hover {
    border-color: var(--accent-secondary);
    color: var(--accent-secondary);
  }
}

.ProseMirror {
  ul,
  ol {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  li > p {
    display: inline;
  }
}

.ProseMirror[contenteditable='true'] {
  min-height: 10rem;
  max-height: 30rem;
  overflow-y: scroll;
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--accent-tertiary);
  border-radius: 5px;
  transition: border 200ms ease-in-out;
}

.ProseMirror-focused {
  outline: none;
  border-color: var(--accent-main) !important;
}
