@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --background-main: #fafbff;
  --background-secondary: #f2f6fc;
  --text-main: #1f1f22;
  --text-secondary: #242831;
  --accent-main: #5555f1;
  --accent-secondary: #3a3a8a;
  --accent-tertiary: #b9babe;

  --success-background: #d8f3dd;
  --success-forground: #007516;

  --warning-background: #fdeed3;
  --warning-foreground: #946000;

  --error-background: #f2d5d9;
  --error-foreground: #c70000;

  --info-background: #d3ebfd;
  --info-foreground: #005bd1;

  --font: 'Inter', sans-serif;
}

[data-theme='dark'] {
  --background-main: #1f1f22;
  --background-secondary: #242831;
  --text-main: #fafbff;
  --text-secondary: #f2f6fc;
  --accent-main: #6ab0ff;
  --accent-secondary: #639aff;
  --accent-tertiary: #b9babe;

  --success-background: #d8f3dd;
  --success-forground: #007516;

  --warning-background: #fdeed3;
  --warning-foreground: #946000;

  --error-background: #f2d5d9;
  --error-foreground: #c70000;

  --info-background: #d3ebfd;
  --info-foreground: #005bd1;

  --font: 'Inter', sans-serif;
}
