@import '../variables.css';

.main {
  p {
    margin-top: 1rem;
    text-align: center;
  }

  a {
    font-weight: 500;
    color: var(--accent-secondary);
  }
}

@media screen and (min-width: 1024px) {
  .main {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    p,
    ul {
      flex-grow: 2;
    }
  }
}
