@media screen and (min-width: 0px) {
  .main {
    background-color: var(--background-main);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    header {
      padding-top: 1.5rem;
      width: 100%;

      span {
        font-weight: 500;
        font-size: 1.125rem;
        color: var(--text-secondary);
      }
    }

    section {
      a {
        font-weight: 600;
        color: var(--accent-secondary);
      }
    }
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}
