@import '../variables.css';

.main {
  max-width: 700px;

  h1 {
    margin-bottom: 0.5rem;
  }

  p {
    margin-top: 0.5rem;
    text-align: center;
  }

  a {
    font-weight: 600;
    color: var(--accent-main);
  }
}
