@import '../variables.css';

.header,
.footer {
  background-color: var(--background-secondary);
  padding: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.footer {
  background-color: var(--background-secondary);
  text-align: center;
  p:first-of-type {
    margin-bottom: 0.5rem;
  }
}
