@media screen and (min-width: 0px) {
  .form {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    input {
      padding: 0.25rem 0.5rem;
      border: 1px solid transparent;
      border-bottom: 1px solid var(--accent-tertiary);
      background-color: var(--background-main);
      color: var(---text-main);
      font-size: 1rem;
      transition: all 200ms ease-in-out;
      width: 100%;
      cursor: auto;

      &:focus {
        border-radius: 5px;
        outline: none;
        border-color: var(--accent-main);
      }

      &::placeholder {
        color: var(--text-secondary);
        font-weight: 600;
      }
    }

    button {
      width: 100%;
      max-width: 700px;

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  .inputs {
    max-width: 700px;
    width: 100%;

    input:first-of-type {
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .form {
    button {
      margin-inline: 10rem;
      max-width: 1000px;
    }
  }

  .inputs {
    width: 100%;
    display: flex;
    gap: 3rem;
    max-width: 1000px;

    input:first-of-type {
      margin-bottom: 0rem;
    }
  }
}
