@import '../variables.css';

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.25rem;
}

.button,
.active {
  padding: 0.25rem;
  border: 1px solid transparent;
  transition: border 200ms ease-in-out;
  border-radius: 5px;

  svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    fill: var(--text-main);
  }

  &:hover {
    border-color: var(--accent-tertiary);
  }

  &:disabled {
    cursor: auto;
    img {
      opacity: 0.5;
    }

    &:hover {
      border-color: transparent;
    }
  }
}

.active {
  border-color: var(--accent-main) !important;
}
